<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3"></div>
        <h1>Checkout</h1>
        <h4>Your Total:</h4>
        <form action="/" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                    </div>
                </div>

    </div>
    </form>
</div>