{{# if products }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">
                        <strong>{{ this.item.title}}</strong>
                        <span style="background-color:grey">₹:{{ this.price }}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">{{ this.qty }}<span class="caret"></span></button>
                        </div>
                    </li>
                {{/each}}
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong style="font-size: large;">Total ₹:{{ totalPrice }}</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong class="btn btn-primary" type="button">Checkout</strong>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong>No items in cart</strong>
        </div>
    </div>
{{/if}}